<div
  class="container-fluid fixed-bottom bg-primary text-white py-2 px-sm-3 px-md-5"
>
  <div class="container text-center">
    <div class="d-flex justify-content-center">
      <p class="mt-08r mr-2">
        &copy; <a class="text-white font-weight-bold" href="https://github.com/" target="_blank">GitHub</a>. {{ 'direitos_reservados' | translate }} {{ 'desenvolvido_por' | translate }}
        <a
          class="text-white font-weight-bold"
          href="https://www.linkedin.com/in/jean-melo/"
          target="_blank"
          >Jean Melo</a
        >
      </p>
      <!-- <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a> -->
      <a
        class="btn btn-light btn-social mr-2"
        href="https://www.linkedin.com/in/jean-melo/"
        target="_blank"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- <a class="btn btn-light btn-social" href="#"><i class="fab fa-instagram"></i></a> -->
    </div>
  </div>
</div>
